#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
  color: #111111;
  background-color: rgba(173, 216, 230, 0.5);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.error-message {
  font-size: 30px;
}

.filters-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.filters-list input {
  font-size: 16px;
  text-align: center;
  padding: 5px;
}

.table-container h2 {
  text-align: center;
  font-size: 25px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-container {
  max-width: 1000px;
  overflow: auto;
}

.users-table {
  font-size: 20px;
  background-color: lightcyan;
  width: 100%;
}

.table-title {
  font-size: 25px;
  margin-bottom: 50px;
}

.users-table tr:nth-child(even) {
  background-color: rgba(0, 255, 255, 0.3);
}

.users-table th {
  font-weight: bold;
  background-color: lightskyblue;
  padding: 15px;
}

.users-table td {
  text-align: center;
  padding: 10px;
}

@media (max-width: 1024px) {
  .main-title {
    margin-bottom: 0;
  }

  .filters-list {
    flex-direction: column;
    gap: 40px;
  }

  .table-container {
    max-width: 800px;
    max-height: 400px;
  }
}

@media (max-width: 768px) {

  .table-container {
    max-width: 400px;
  }

  .users-table {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .table-container {
    max-width: 300px;
  }
}